/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 9:59:37 PM
    Author     : karthik
*/

.conic:hover{
    opacity: 0.3;
}

.ylabel{
    font-size: 100;
}

.chartBar{
    fill:steelblue;
    stroke:black;
    stroke-width:0.1;
    stroke-opacity:0.1
}
.chartBar:hover{
    fill:#F2635F;
    opacity:0.7;
}